body{
    background-color: black;
    margin: 0px;

    .container{
        height: 100vh;
        background-color: rgba(27, 25, 25, 0.699);
        display: grid;
        grid-template-columns:auto auto auto auto auto;
        grid-template-rows:repeat(5, 1fr);
        gap: 40px 40px;

        div{
            padding: 15px;
        }

        .form {


            grid-column: 2 / span 3;
            grid-row: 3;


            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:10px;

            .y{
                font-size: 25px;
                padding-left: 30px;
            }
            
            .x{
                display: flex;
                justify-content: center;
                .sub{
                    width: 200px;
                    @media (max-width: 900px) {
                        width: 150px;
                    }
                    @media (max-width: 600px) {
                        background-color: rgb(170, 222, 135);
                        color: rgb(42, 147, 165);
                        width: 100px;
                        font-size: 10px;
                    }
                    @media (max-width: 450px) {
                        width: 70px;
                        font-size: 7px;
                    }

                }
            }
                    
            input{
                height: 65px;
                width: 600px;
                @media (max-width: 900px) {
                    width: 450px;
                }
                @media (max-width: 600px) {
                    background-color: rgb(170, 222, 135);
                        color: rgb(42, 147, 165);
                    width: 300px;
                }
                @media (max-width: 450px) {
                    width: 210px;
                    
                }
                border-radius: 30px;
                margin: 5px;
            }
                        
        }

        .link {
            
            grid-column: 5;


            background: rgba($color: #423c5c71, $alpha: 0.4) ;
            position: absolute;
            border-radius: 20px;
            right: 0px;
            padding: 30px;
            margin: 5px;
            font-weight: bold;

            @media (max-width: 900px) {
                width: 100px;
                font-size: 14px;
            }
            @media (max-width: 600px) {
                background-color: rgb(170, 222, 135);
                color: rgb(42, 147, 165);
                width: 50px;
                font-size: 8px;
            }

            a{
                color: rgb(255, 255, 255);
                margin: 10px;
            }
        }
    }
}
